# TOPIC: String Based Assignment Problem

# 1. Write a program to reverse a string.

In [1]:
#create a string 
s="welcome"
print("given sting :",s)
#reversing a sting in slicing method  v
print("reverse of a given string: ",s[::-1])

given sting : welcome
reverse of a given string:  emoclew

# 2. Check if a string is a palindrome.

In [4]:
#read sting from user
s1=input("enter some sting ")
s2=s1[::-1]
if s1==s2:
    print("givne sting is palindrome")
else:
    print("given sting is not a palindrome ")

enter some sting hai
given sting is not a palindrome

# 3. Convert a string to uppercase.

In [6]:
#create a string
s3=input("enter some sting ")
#convert sting into upper case upper() function
print("Given sting in upper caseformat")
s3.upper()

enter some sting pwskills
Given sting in upper caseformat

'PWSKILLS'

# 4. Convert a string to lowercase.

In [7]:
#create a string
s4=input("enter some sting ")
#convert sting into upper case () function
print("Given sting in lower caseformat")
s4.lower()

enter some sting PWSKILLS
Given sting in lower caseformat

'pwskills'

# 5. Count the number of vowels in a string.

In [14]:
#Read string from the user 
s5=input("enter some string")
print("given sting is :",s5)
#count number of vowels, a,e,i,o,u
v=0
for i in s5:
    if(i=="a" or i=="e" or i=="i" or i=="o" or i=="u" ):
        v=v+1
print("no of vowels in a givne sting :",v)

enter some stringpwskills
given sting is : pwskills
no of vowels in a givne sting : 1

# 6. Count the number of consonants in a string.

In [33]:
#Read string from the user 
s6=input("enter some string")
print("given sting is :",s6)
#count number of consonents other than  a,e,i,o,u
c=0
v=0
for i in s6 :
    if(i=="a" or i=="e" or i=="i" or i=="o" or i=="u" ):
        v=v+1;
    else :
        c=c+1
print("no of consonants in a givne sting :",c)

enter some stringharika
given sting is : harika
no of consonants in a givne sting : 3

# 7. Remove all whitespaces from a string.

In [5]:
#Read string from the user 
s7="this is Nagarauju"
#s7=input("enter some string")
print("given sting is :",s7)
#to remove white spaces from the string using replace() function  
s7.replace(" ","")

given sting is : this is Nagarauju

'thisisNagarauju'

# 8. Find the length of a string without using the `len()` function.

In [11]:
#Read string from the user 
s8=input("enter some string")
print("given sting is :",s8)
#using for loop to find length
n=0
for i in s8:
    n=n+1
print("length of a given string is ",n)

enter some stringpwskills
given sting is : pwskills
length of a given string is  8

# 9 Check if a string contains a specific word.

In [19]:
#Read string from the user 
s9="we are learning python"
print("given sting is :",s9)
s9.find("python")
#this returs -1 given sting is not find other wise return index of a sting value

given sting is : we are learning python

16

# 10. Replace a word in a string with another word.

In [20]:
#Read string from the user 
s9="we are bad students "
print("given sting is :",s9)
s9.replace("bad","good") # the replace() function replace any word with another word

given sting is : we are bad students

'we are good students '

# 11. Count the occurrences of a word in a string.

In [5]:
 #read the string from the user
s11="we are learing python strings python"
print("given sting is ",s11)
x=input("enter  some word in a string value")
#count occurrences of a word in a given string 
# split the string by spaces using split() method
a = s11.split(" ")
# search for pattern in a
 count = 0
for i in range(0, len(a)):
    # if match found increase count
    if (x == a[i]):
        count = count + 1

print("the occurrences of the word in a string is ",count)

given sting is  we are learing python strings python
enter  some word in a string valuepython
the occurrences of the word in a string is  2

# 12. Find the first occurrence of a word in a string.

In [10]:
#read the string from the user
s12="we are learing python strings python"
print("given sting is ",s12)
# using lfind()
# to get first element occurrence

res = s12.rfind('are')
 
# printing result
print ("The index of first element occurrence: " + str(res))

given sting is  we are learing python strings python
The index of first element occurrence: 3

# 13. Find the last occurrence of a word in a string.

In [12]:
#read the string from the user
s13="we are learing python strings python"
print("given sting is ",s13)
# using rfind()
# to get last element occurrence

res = s12.rindex('n')
 
# printing result
print ("The index of first element occurrence: " + str(res))

given sting is  we are learing python strings python
The index of first element occurrence: 35

# 14. Split a string into a list of words.

In [13]:
#create a sting 
s14="we are good students"
#using split() method to create list of words  
s14.split()

['we', 'are', 'good', 'students']

# 15. Join a list of words into a string.

In [21]:
#create a list of words 
s15=["we","are","good","students"]
print("given  list of words are  \n",s15)
#list into string
#first create empty string then using join() method to join the list 
r= " "
r.join(s15)

given  list of words are
 ['we', 'are', 'good', 'students']

'we are good students'

# 16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [24]:
s16="I am learning Data Science in PWSkills";
s16=list(s16)
n=len(s16)   
for i in range(n):
# Converting space to underscore
    if(s16[i] == " "):
        s16[i]="_"
        
s16 = "".join(s16)
print(s16);

I_am_learning_Data_Science_in_PWSkills

# 17. Check if a string starts with a specific word or phrase.

In [25]:
# to check a specific word in a sting using startswith() function
s17="data science"
print(s17.startswith("data"))#returns true if word/phrase is avaliable

True

# 18. Check if a string ends with a specific word or phrase.

In [26]:
s18="mentor sir explain the concepts well"
#using endswiht() function to find ends word
print(s18.endswith("well"))

True

# 19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [27]:
s19="python programming"
#convert the string into title case using title() function
s19.title()

'Python Programming'

# 20. Find the longest word in a string.

In [32]:
s20="we are good students"
#sting split() into words 
#find lenth of each word and sort then find longest word
l=list(s20.split())#split the string and convert into list
l=sorted(l,key=len) #using sorted method sort the list  and display last element
l[-1]

'students'

# 21. Find the shortest word in a string.

In [39]:
s21="we are good students"
#sting split() into words 
#find lenth of each word and sort then find longest word
l=list(s21.split())#split the string and convert into list
l=sorted(l,key=len) #using sorted method sort the list  and display first element
l[0]

'we'

# 22. Reverse the order of words in a string.

In [38]:

s22="we are good students" # split() into words 
#find lenth of each word and sort then find longest word
l=list(s22.split())#split the string and convert into list
l[::-1]

['students', 'good', 'are', 'we']

# 23. Check if a string is alphanumeric.

In [43]:
s23="raki123"
s23.isalnum()#to check string having alphanumeric using the isalnum() function
s23.is

True

# 24. Extract all digits from a string.

In [47]:

s24="in this course having 5 mentors and 10 programmers  "
#split the string 
x=s24.split()
r=[]
for i in x:
    if(i.isnumeric()):
        r.append(int(i))
print(r)

[5, 10]

# 25. Extract all alphabets from a string.

In [48]:
s25="in this course having 5 mentors and 10 programmers  "
#split the string 
x=s24.split()
r=[]
for i in x:
    if(i.isalpha()):
        r.append(i)
print(r)

['in', 'this', 'course', 'having', 'mentors', 'and', 'programmers']

# 26. Count the number of uppercase letters in a string.

In [6]:
# Count the uppercase, use issupper() method
s26="This is 4 Session in PWSkills"
upper=0
for i in range(len(s26)):
    if s26[i].isupper():
        upper=upper+1
print('Upper case letters:', upper)

Upper case letters: 5

# 27. Count the number of lowercase letters in a string.

In [7]:
# Count the uppercase, use issupper() method
s27="This is 4 Session in PWSkills"
lower=0
for i in range(len(s27)):
    if s27[i].islower():
        lower=lower+1;
print('Lower case letters:', lower)

Lower case letters: 18

# 28. Swap the case of each character in a string

In [16]:
#swap case means chantge every character in case 
#index is in lower case, then subtract 32 to convert it into upper case, else add 32 to convert it in lowercase.
#ASCII values  of alphabets: A – Z = 65 to 90,
#a – z = 97 to 122ASCII values  of alphabets: A – Z = 65 to 90, a – z = 97 to 122
s28="PWSkills"
s28= list(s28)
ln = len(s28)
 
    # Conversion according to ASCII values
for i in range(ln):
        if s28[i] >= 'a' and s28[i] <= 'z':
           # Convert lowercase to uppercase
            s28[i] = chr(ord(s28[i]) - 32) 
        elif s28[i] >= 'A' and s28[i] <= 'Z':
           # Convert lowercase to uppercase
            s28[i] = chr(ord(s28[i]) + 32)
s28= ''.join(s28)
print(s28)

pwsKILLS

# 29. Remove a specific word from a string.

In [17]:
#we use replace() function to remove a word from string
s29="we are bad students"
#remove bad word from string
s29.replace("bad","")

'we are  students'

# 30. Check if a string is a valid email address.

In [4]:
#if a string having valid email address having two characters @,.
import re
 
# Make a regular expression
# for validating an Email
regex = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'
 
# Define a function for
# for validating an Email
def check(email):
 
    # pass the regular expression
    # and the string into the fullmatch() method
    if(re.fullmatch(regex, email)):
        print("Valid Email")
 
    else:
        print("Invalid Email")
 
# Driver Code
if __name__ == '__main__':
 
    # Enter the email
    email = "nagaraju.gundla@gmail.com"
 
    # calling run function
    check(email)

Valid Email

# 31. Extract the username from an email address string.

In [16]:
# initializing strings
test_str = 'nagaraju.gundla@gmail.com'
 
# printing original string
print("The original string is : " + str(test_str))
 
# slicing domain name using slicing
res = test_str.split('@')
list(res) 
# printing result
print("The extracted domain name : " + res[0])

The original string is : nagaraju.gundla@gmail.com
The extracted domain name : nagaraju.gundla

# 32. Extract the domain name from an email address string.

In [17]:

# initializing strings
test_str = 'nagaraju.gundla@gmail.com'
 
# printing original string
print("The original string is : " + str(test_str))
 
# slicing domain name using slicing
res = test_str.split('@')
list(res) 
# printing result
print("The extracted domain name : " + res[1])

The original string is : nagaraju.gundla@gmail.com
The extracted domain name : gmail.com

# 33. Replace multiple spaces in a string with a single space.

In [8]:
#split and join the strings for removing multiple spaces
s33="we   are    learning    python sting Applications "
#s33.split()
s33=" ".join(s33.split())
print(s33)

we are learning python sting Applications

# 34. Check if a string is a valid URL

In [2]:
import validators
validation = validators.url("hp:/www.google.com")
if validation:
    print("URL is valid")
else:
    print("URL is invalid")

URL is invalid

# 35. Extract the protocol (http or https) from a URL string.

In [13]:
from urllib.parse import urlparse
s35="https://www.google.co.in/"
u=urlparse(s35)
u

ParseResult(scheme='https', netloc='www.google.co.in', path='/', params='', query='', fragment='')

# 36. Find the frequency of each character in a string.

In [3]:
# initializing string
s36= "PWSkills"
 
# using naive method to get count
# of each element in string
freq_char = {}
 
for i in s36:
    if i in freq_char:
        freq_char[i] += 1
    else:
        freq_char[i] = 1
 
# printing result
print("Count of all characters in PWSkills is :\n " + str(freq_char))

Count of all characters in PWSkills is :
 {'P': 1, 'W': 1, 'S': 1, 'k': 1, 'i': 1, 'l': 2, 's': 1}

# 37. Remove all punctuation from a string.

In [5]:
import string
 
s37 = 'Data Science, mentors ,proving good knowledge !'
 
s37 = s37.translate(str.maketrans('', '', string.punctuation))
print(s37)

Data Science mentors proving good knowledge

# 38. Check if a string contains only digits.

In [8]:
#initilise the string
s38="6789"

#s38.isdigit()  checking the digit in string 
if s38.isdigit():
    print("string contains all digits")
else:
    print("string not contains  all digits ")

string contains all digits

# 39. Check if a string contains only alphabets.

In [10]:
s39="pwskills"
#s39.isalpha()
if s39.isalpha():
    print("string contains alphabets")
else:
    print("string does not contain alphabets")

string contains alphabets

# 40. Convert a string to a list of characters.

In [12]:
s40="PWSkills"
#  sting convert into list using list() function
list(s40)

['P', 'W', 'S', 'k', 'i', 'l', 'l', 's']

# 41. Check if two strings are anagrams

In [20]:
#An anagram of a string is another string that contains the same characters, 
a="abcd"
b="dacb"
a=sorted(a)
b=sorted(b)
if a==b:
    print("strings are anagram")
else:
    print("strings are not anagram")

strings are anagram

# 42. Encode a string using a Caesar cipher.

In [21]:
#The Caesar Cipher technique is one of the earliest and simplest methods of encryption technique
#A python program to illustrate Caesar Cipher Technique
text = "PWSkills"
s = 2
result = ""
# traverse text
for i in range(len(text)):
    char = text[i]
        # Encrypt uppercase characters
    if (char.isupper()):
        result += chr((ord(char) + s-65) % 26 + 65)
        # Encrypt lowercase characters
    else:
        result += chr((ord(char) + s - 97) % 26 + 97)
#check the above function
print ("Text  : " + text)
print ("Shift : " + str(s))
print ("Cipher: " + result)

Text  : PWSkills
Shift : 2
Cipher: RYUmknnu

# 43. Decode a Caesar cipher encoded string

In [24]:
#The Caesar Cipher technique is one of the earliest and simplest methods of encryption technique
#A python program to illustrate Caesar Cipher Technique
text = "RYUmknnu"
s = 2
result = ""
# traverse text
for i in range(len(text)):
    char = text[i]
        # decrypt uppercase characters
    if (char.isupper()):
        result += chr((ord(char) - s-65) % 26 + 65)
        # decrypt lowercase characters
    else:
        result += chr((ord(char) - s - 97) % 26 + 97)
#check the above function
print ("Text  : " + text)
print ("Shift : " + str(s))
print ("Cipher: " + result)

Text  : RYUmknnu
Shift : 2
Cipher: PWSkills

# 44. Find the most frequent word in a string.

In [25]:
# Most frequent word in Strings List
from collections import Counter
 
# function which returns
# most frequent word
def mostFrequentWord(words):
   
    # Taking empty list
    lis = []
    for i in words:
       
        # Getting all words
        for j in i.split():
            lis.append(j)
             
    # Calculating frequency of all words
    freq = Counter(lis)
     
    # find max count and print that key
    max = 0
    for i in freq:
        if(freq[i] > max):
            max = freq[i]
            word = i
            return word
words = ["good teaching sudhanshu sir", "good institute PWSkills ", "good method of teaching"]
 
# printing original list
print("The original list is : " + str(words))
 
print("Word with maximum frequency : " + mostFrequentWord(words))

The original list is : ['good teaching sudhanshu sir', 'good institute PWSkills ', 'good method of teaching']
Word with maximum frequency : good

# 45. Find all unique words in a string.

In [27]:
# in python using set() method #set to eliminate duplicate values
# function to print unique words
str = "we work very very hard "
s45 = set(str.split(" "))
# for loop for iterating
for i in s45:
    print(i)

hard
work
we
very

# 46. Count the number of syllables in a string.

In [37]:
#syllbles mean pronounce vowel 
s46=input("Enter the string:")
syllable_count=0
for w in s46:
      if(w=='a' or w=='e' or w=='i' or w=='o' or w=='u' or w=='A' or w=='E' or w=='I' or w=='O' or w=='U'):
            syllable_count=syllable_count+1
print("The number of syllables in the word is: ")
print(syllable_count)

Enter the string:HAIRY
The number of syllables in the word is:
2

# 47. Check if a string contains any special characters.

In [38]:
s46="amazing!!!"
    # Declaring variable for special characters 
special_char=0
for i in range(0, len(s46)):  
    # len(string) function to count the 
    # number of characters in given string.
      
    ch = s46[i]
  
        #.isalpha() function checks whether character 
        #is alphabet or not.
    if (s46[i].isalpha()):  
        continue
        
        #.isdigit() function checks whether character 
        #is a number or not.
    elif (s46[i].isdigit()):
        continue
            
    else: 
        special_char += 1
print("number of special characters/ symbols are: ",special_char)

number of special characters/ symbols are:  3

# 48. Remove the nth word from a string.

In [10]:
# Python3 program to remove Nth
# occurrence of the given word
 
# Function to remove nth word

def omit(list1, word, n1):
 
    # for counting the occurrence of word
    count = 0
 
    # for counting the index number
    # where we are at present
    index = 0
 
    for i in list1:
        index += 1
        if i == word:
            count += 1
            if count == n1:
 
                # (index-1) because in list
                # indexing start from 0th position
                list1.pop(index-1)
    return list1

list1 = ["we", "are", "good", "std",
         "that", "is","raju" ]
 
word = "good"
n1 = 2
 
print("new list is :", omit(list1, word, n1))

new list is : ['we', 'are', 'good', 'std', 'that', 'is', 'raju']

# 49. Insert a word at the nth position in a string.

In [3]:
# Add WORD at specific index
# using list slicing
 
# initializing string
test_string = 'we learning python '
 
# initializing add_string
add_string = "are "
 
# printing original string
print("The original string : " + test_string)
 
# printing add string
print("The add string : " + add_string)
 
# initializing N
N = 3
 
# using list slicing
# Add substring at specific index
res = test_string[ : N] + add_string + test_string[N : ]
     
# print result
print("The string after performing addition : " + str(res))

The original string : we learning python
The add string : are
The string after performing addition : we are learning python

# 50. Convert a CSV string to a list of lists.

In [17]:
s50="we ,are, learning ,python"
List_string=s50.split()

res1=list(List_string)
print(res1)

['we', ',are,', 'learning', ',python']

# List Based Practice Problem :

# 1. Create a list with integers from 1 to 10.

In [21]:
l=[1,2,3,4,5,6,7,8,9,10]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# 2. Find the length of a list without using the `len()` function.

In [43]:
l2=[1,2,3]
count=0
for i in l2:
    count=count+1
print("length of a given sting is ",count)

length of a given sting is  3

# 3. Append an element to the end of a list.

In [45]:
#using append mthod 
l3=["sun","mon","tue"]
l3.append("wed")
print(l3)

['sun', 'mon', 'tue', 'wed']

# 4. Insert an element at a specific index in a list.

In [49]:
#using inset() method 
l4=["PW","teach","well"]
l4.insert(1,"skills")
l4

['PW', 'skills', 'teach', 'well']

# 5. Remove an element from a list by its value.

In [50]:
#uisng remove() method remove an element
l5=["banana","apple","ball","mango"]
l5.remove("ball")
print(l5)

['banana', 'apple', 'mango']

# 6. Remove an element from a list by its index.

In [52]:
#uing pop() mthod remove its index
l6=[10,20,30,40,50]
l6.pop(2) #remove 30 element
print(l6)

[10, 20, 40, 50]

# 7. Check if an element exists in a list.

In [57]:
l7=[10, 200,3000]
#checking 200 element in the list by using in operator 
if 200 in l7:
    print("exists")
else:
    print("does not exists")

exists

# 8. Find the index of the first occurrence of an element in a list.

In [59]:
#using index() method to find it.
l8=["twitter","google","cdac","tcs"]
print("first occurrence of an element:",l8.index("twitter"))

first occurrence of an element: 0

# 9. Count the occurrences of an element in a list

In [60]:
#means an elment comes no of times 
l9=[4,5,6,7,5,9,10,11]
#here to find 5 in number of occurrences 
n=5
count=0
for i in l9:
    if(i==n):
        count=count+1
print("no of occurrence of a given number is ",count)

no of occurrence of a given number is  2

# 10. Reverse the order of elements in a list.

In [61]:
l10=[1,2,3,4,5]
#reverse order using slicing method 
l10[::-1]

[5, 4, 3, 2, 1]

# 11. Sort a list in ascending order.

In [68]:
l11=[5,2,7,10,1]
# the sort() method is sor the list of items in assending order 
l11.sort()
l11

[1, 2, 5, 7, 10]

# 12. Sort a list in descending order.

In [69]:
l12=[5,2,7,10,1]
# the sort() method is sor the list of items in assending order 
l12.sort(reverse=True)
l12

[10, 7, 5, 2, 1]

# 13. Create a list of even numbers from 1 to 20.

In [76]:
#create a empty list
l13=[]
for i in range(1,11):
    l13.append(i*2)
print(l13)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

# 14. Create a list of odd numbers from 1 to 20.

In [79]:
#create a empty list
l14=[]
for i in range(1,20):
    if i%2==1:
        l14.append(i)
print(l14)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

# 15. Find the sum of all elements in a list.

In [81]:
l15=[1,2,3,4,5]
sum=0
for i in l15:
    sum=sum+i
print("sum of list is :",sum)

sum of list is : 15

# 16. Find the maximum value in a list.

In [86]:
l16=[1,2,3,4,5]
print("maxmimum value in the list", max(l16))

maxmimum value in the list 5

# 17. Find the minimum value in a list.

In [88]:
l17=[1,2,3,4,5]
print("minimum value in the list ",min(l17))

minimum value in the list  1

# 18. Create a list of squares of numbers from 1 to 10.

In [19]:
res2=[]
l18=[1,2,3,4,5,6,7,8,9,10]
for x in l18:
    r=x*x
    print(r)

1
4
9
16
25
36
49
64
81
100

# 19. Create a list of random numbers.

In [20]:
# to generate random number list
# using random.sample()
import random
 
# to generate random number list
res = random.sample(range(1, 50), 7)
 
# printing result
print ("Random number list is : " +  str(res))

Random number list is : [19, 49, 30, 13, 20, 5, 14]

# 20. Remove duplicates from a list.

In [3]:
#create alist
l20=[1,2,3,4,5,2,1,6,7]
#created list
print(l20)
#using set() method to liminate duplicate elements
print("after remove duplicates")
print(set(l20))

[1, 2, 3, 4, 5, 2, 1, 6, 7]
after remove duplicates
{1, 2, 3, 4, 5, 6, 7}

# 21. Find the common elements between two lists.

In [5]:
a = [1, 2, 3, 4, 5]
b = [5, 6, 7, 8, 9,2]
#uing in operator to check two lists , if print it.
for i in a:
    if i in b:
        print(i)

2
5

# 22. Find the difference between two lists.

In [8]:
x=[1,2,3,4,5,6,7]
y=[3,5,6]
#to find defference x-y
z=[]
for i in x:
    if i not in y:
        z.append(i)

print(z)

[1, 2, 4, 7]

# 23. Merge two lists.

In [9]:
#metging list in different ways +, append method
x1 = ["a", "b" , "c"]
x2 = [1, 2, 3]
x1+x2

['a', 'b', 'c', 1, 2, 3]

# 24. Multiply all elements in a list by 2.

In [12]:
l24=[5,10,15]
res=[]
#multiplay with 2 in the list
for i in l24:
    res.append(i*2)
print(res)

[10, 20, 30]

# 25. Filter out all even numbers from a list.

In [15]:
l25=[2,4,5,10,8,15]
res=[]

for i in l25:
    if i%2!=0:
        res.append(i)
print(res)

[5, 15]

# 26. Convert a list of strings to a list of integers.

In [20]:
#using eval() function convert string to integers
l26=["1","10","100"]
r=[]
for i in l26:
    r.append(eval(i))
print(r)

[1, 10, 100]

# 27. Convert a list of integers to a list of strings

In [2]:
l27=[1,2,3]
r1=[]
for i in l27:
    r1.append(str(i))
print(r1)

['1', '2', '3']

# 28. Flatten a nested list.

In [6]:
 #Convert a nested list into a flat list using Nested for Loops
lis = [[10, 20, 30, 40], [50, 60, 70], [80, 90, 100]]
print('List', lis)
flatList = []
    # Iterate with outer list
for i in lis:
    if type(i) is list:
    # Check if type is list than iterate through the sublist
        for item in i:
            flatList.append(item)
    else:
        flatList.append(i)
    
 
 
print('Flat List', flatList)

List [[10, 20, 30, 40], [50, 60, 70], [80, 90, 100]]
Flat List [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

# 29. Create a list of the first 10 Fibonacci numbers.

In [16]:
 #Function to print first n
# Fibonacci Numbers
n=10
a= 0
b = 1
print(a)
if (n < 1):
    print(a, end=" ")
for x in range(1, n):
    print(b, end=" ")
    c=a+b
    a= b
    b = c

0
1 1 2 3 5 8 13 21 34

# 30. Check if a list is sorted.

In [3]:
# to check if list is sorted
 
# initializing list
test_list = [100, 4, 5, 8, 10]
 
# printing original list
print ("Original list : " + str(test_list))
 
# using sort() to
# check sorted list
flag = 0
test_list1 = test_list[:]
test_list1.sort()
if (test_list1 == test_list):
    flag = 1
     
# printing result
if (flag) :
    print ("Yes, List is sorted.")
else :
    print ("No, List is not sorted.")

Original list : [100, 4, 5, 8, 10]
No, List is not sorted.

# 31. Rotate a list to the left by `n` positions.

In [4]:
# initializing list
test_list = [1, 4, 6, 7, 2]
 
# printing original list
print ("Original list : " + str(test_list))
 
# using slicing to left rotate by 3
test_list = test_list[3:] + test_list[:3]
 
# Printing list after left rotate
print ("List after left rotate by 3 : " + str(test_list))

Original list : [1, 4, 6, 7, 2]
List after left rotate by 3 : [7, 2, 1, 4, 6]

# 32. Rotate a list to the right by `n` positions

In [5]:
# initializing list
test_list = [1, 4, 6, 7, 2]
 
# printing original list
print ("Original list : " + str(test_list))
 

# using slicing to right rotate by 3

test_list = test_list[-3:] + test_list[:-3]
 
# Printing after right rotate
print ("List after right rotate by 3(back to original) : "
                                        + str(test_list))

Original list : [1, 4, 6, 7, 2]
List after right rotate by 3(back to original) : [6, 7, 2, 1, 4]

# 33. Create a list of prime numbers up to 50.

In [1]:
# prime number in an interval
starting_range = 2
ending_range = 50
lst=[]
flag=0                   #Declaring flag variable
for i in range(starting_range, ending_range):#elements range between starting and ending range
    for j in range(2,i): 
            if(i%j==0):     #checking if number is divisible or not
                flag=1        #if number is divisible, then flag variable will become 1
                break
            else:
                flag=0     
                if(flag==0):    #if flag variable is 0, then element will append in list 
                    lst.append(i)

                    
                
if len(lst) == 0:
    print("There are no prime numbers in this range")
else:
    print("The prime numbers in this range are: ", lst)

The prime numbers in this range are:  [3, 5, 5, 5, 7, 7, 7, 7, 7, 9, 11, 11, 11, 11, 11, 11, 11, 11, 11, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 15, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 21, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 25, 25, 25, 27, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 33, 35, 35, 35, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 39, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 45, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 49, 49, 49, 49, 49]

# 34. Split a list into chunks of size `n`.

In [6]:
# create a list  
my_list = ['PWskills', 'for', 'pwskills', 'like',
           'pwskills','inueron', 'good', 'love',
               'questions','words', 'life','ok']
  
# Yield successive n-sized
# chunks from l.
def divide_chunks(l, n):
      
    # looping till length l
    for i in range(0, len(l), n): 
        yield l[i:i + n]
  
# How many elements each
# list should have
n = 3
  
x = list(divide_chunks(my_list, n))
print (x)
print()

[['PWskills', 'for', 'pwskills'], ['like', 'pwskills', 'inueron'], ['good', 'love', 'questions'], ['words', 'life', 'ok']]

# 35 Find the second largest number in a list

In [2]:
#list of elements 
l35=[10,55,20,4,88,88,99]
# List of numbers
 
# Removing duplicates from the list
list2 = list(set(l35))
 
# Sorting the  list
list2.sort()
print('given list',l35)
# Printing the second last element
print("Second largest element is:", list2[-2])

given list [10, 55, 20, 4, 88, 88, 99]
Second largest element is: 88

# 36. Replace every element in a list with its square.

In [1]:
l36=[5,6,7,8]
res=[]
for i in l36:
    res.append(i*i)

print(res)

[25, 36, 49, 64]

# 37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [3]:
l37=['raju','raki','archana']
#list can be convert into dictionary using dict() function  
friends = dict(enumerate(l37))
print(friends)

{0: 'raju', 1: 'raki', 2: 'archana'}

# 38. Shuffle the elements of a list randomly.

In [5]:
import random
l38=['anu','aish','afrin','archana','raki']
random.shuffle(l38)
print(l38)

['archana', 'afrin', 'raki', 'anu', 'aish']

# 39. Create a list of the first 10 factorial numbers.

In [7]:
import math
l39=[1,2,3,4,5,6,7,8,9,10]
ress=[]
for i in l39:
    ress.append(math.factorial(i))
print(ress)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

# 40. Check if two lists have at least one element in common.

In [11]:
a=[1,2,3,4,9]
b=[5,6,7,8,9]
print(a)
print(b)
# one element common
# using traversal of list
  
    # traverse in the 1st list
for i in a:
# traverse in the 2nd list
    for y in b:
     # if one common
     if i == y:
        print("at least one element is common",y)

[1, 2, 3, 4, 9]
[5, 6, 7, 8, 9]
at least one element is common 9

# 41. Remove all elements from a list.

In [15]:
l41=[1,5,10,'aish','anu']
print('list is',l41 )
#remove all the elements from the list clear()
l41.clear()
print('empty list is ',l41)

list is [1, 5, 10, 'aish', 'anu']
empty list is  []

# 42. Replace negative numbers in a list with 0.

In [18]:

# to replace negative value with 0
#to perform this operation using numpy library using arrays 
import numpy as np
l42= [1, 2, -3, 4, -5, -6]
ini_array1 = np.array(l42)
 
# printing initial arrays
print("initial list", ini_array1)
 
# code to replace all negative value with 0
ini_array1[ini_array1<0] = 0
 
# printing result
print("New resulting list: ", ini_array1)

initial list [ 1  2 -3  4 -5 -6]
New resulting list:  [1 2 0 4 0 0]

# 43. Convert a string into a list of words

In [24]:
s43="we are learing python"
ss=s43.split()
ss

['we', 'are', 'learing', 'python']

# 44. Convert a list of words into a string.

In [27]:
#create a list
l44=["we","are", "learning","python"]
s44=""
for i in l44:
    s44=s44+i
print(s44 )

wearelearningpython

# 45. Create a list of the first `n` powers of 2.

In [45]:
def MyFun(x):
    return 2 ** x

print("Enter Number of Term: ", end="")
tot = int(input())

print()
for i in range(tot):
    print("2 raised to the power ", i, " is ", MyFun(i))

Enter Number of Term: 4

2 raised to the power  0  is  1
2 raised to the power  1  is  2
2 raised to the power  2  is  4
2 raised to the power  3  is  8

# 46. Find the longest string in a list of strings.

In [2]:
# initialize list
test_list = ['gfg', 'is', 'best', 'for', 'pwskills']
 
# printing original list
print("The original list : " + str(test_list))
 
# Longest String in list
# using max() + key
res = max(test_list, key = len)
 
# printing result
print("Maximum length string is : " + res)

The original list : ['gfg', 'is', 'best', 'for', 'pwskills']
Maximum length string is : pwskills

# 47. Find the shortest string in a list of strings.

In [3]:
# initialize list
test_list = ['gfg', 'is', 'best', 'for', 'pwskills']
 
# printing original list
print("The original list : " + str(test_list))
 
# Longest String in list
# using min() + key
res = min(test_list, key = len)
 
# printing result
print("Minimum length string is : " + res)

The original list : ['gfg', 'is', 'best', 'for', 'pwskills']
Minimum length string is : is

# 48. Create a list of the first `n` triangular numbers.

In [4]:
# triangular number using simple approach.
 
# Returns True if 'num' is triangular, else False
def isTriangular(num):
 
    # Base case
    if (num < 0):
        return False
 
    # A Triangular number must be
    # sum of first n natural numbers
    sum, n = 0, 1
 
    while(sum <= num):
     
        sum = sum + n
        if (sum == num):
            return True
        n += 1
 
    return False
 
# Driver code
n = 10
if (isTriangular(n)):
    print("The number is a triangular number")
else:
    print("The number is NOT a triangular number")

The number is a triangular number

# 49. Check if a list contains another list as a subsequence.

In [5]:
# to check if list is subset of other
# using all()
 
# initializing list
test_list = [9, 4, 5, 8, 10]
sub_list = [10, 5, 4]
 
# printing original lists
print("Original list : " + str(test_list))
print("Original sub list : " + str(sub_list))
 
# using all() to
# check subset of list
flag = 0
if(all(x in test_list for x in sub_list)):
    flag = 1
 
# printing result
if (flag):
    print("Yes, list is subset of other.")
else:
    print("No, list is not subset of other.")

Original list : [9, 4, 5, 8, 10]
Original sub list : [10, 5, 4]
Yes, list is subset of other.

# 50. Swap two elements in a list by their indices.

In [8]:
#given posioin
l50 = [23, 65, 19, 90]
print(l50)
pos1, pos2  = 1, 3
l50[pos1], l50[pos2] = l50[pos2], l50[pos1]
print("after swaping two elements 1,3 positions")
print(l50)

[23, 65, 19, 90]
after swaping two elements 1,3 positions
[23, 90, 19, 65]

# Tuple Based Practice Problem :

# 1. Create a tuple with integers from 1 to 5.

In [10]:
t=(1,2,3,4,5)
print(t)

(1, 2, 3, 4, 5)

# 2. Access the third element of a tuple.

In [11]:
t2=(1,2,3,4,5)
#access third element
t2[2]

3

# 3. Find the length of a tuple without using the `len()` function.

In [23]:
t3=(10,20,"abc",50)
#using for loop to find length
count=0
for i in t3:
    count=count+1
print("length of the tuple",count)

length of the tuple 4

# 4. Count the occurrences of an element in a tuple

In [25]:
#create a tuple
t4=(4,5,6,8,5,10,9,5)
print("tuple is ",t4)
x=int(input("enter a number"))
count=0
for i in t4:
    if x==i:
        count=count+1
print("number of occurrences of a an element",count)

tuple is  (4, 5, 6, 8, 5, 10, 9, 5)
enter a number5
number of occurrences of a an element 3

# 5. Find the index of the first occurrence of an element in a tuple.

In [28]:
# Creating tuples
Tuple = ( 1, 3, 4, 2, 5, 6 )
   
# getting the index of 3
res = Tuple.index(1)
print('Index of 1 is', res)

Index of 1 is 0

# 6. Check if an element exists in a tuple

In [32]:
t6=(10,20,50,"abc")
print("given tupel is ",t6)
n=20
if n in t6:
    print("exist")
else:
    print("does not exist")

given tupel is  (10, 20, 50, 'abc')
exist

# 7. Convert a tuple to a list.

In [33]:
t6=(10,20,50,"abc")
lt=list(t6)
print(lt)

[10, 20, 50, 'abc']

# 8. Convert a list to a tuple.

In [34]:
#create list
lt1=[10,20,30,40]
tl=tuple(lt1)
print(tl)

(10, 20, 30, 40)

# 9. Unpack the elements of a tuple into variables.

In [38]:
t9=("hai","bye","good","bad")
(a,b,c,d)=t9
print(a)
print(b)
print(c)
print(d)

hai
bye
good
bad

# 10. Create a tuple of even numbers from 1 to 10.

In [42]:
t10=()
for i in range(1,10):
    if i%2==0:
        print(i)

2
4
6
8

# 11. Create a tuple of odd numbers from 1 to 10.

In [43]:
t10=()
for i in range(1,10):
    if i%2==1:
        print(i)

1
3
5
7
9

# 12. Concatenate two tuples.

In [45]:
t11=(10,20,30)
t22=(410,50,60)
t33=t11+t22
print(t33)

(10, 20, 30, 410, 50, 60)

# 13. Repeat a tuple three times

In [48]:
#create tuple
t13=(100,200,300)
print("given tuple",t13)
t13r=((t13, )*3)
print(t13r)

given tuple (100, 200, 300)
((100, 200, 300), (100, 200, 300), (100, 200, 300))

# 14. Check if a tuple is empty.

In [51]:
t14=("aish")
if len(t14)==0:
    print("given list is empty")
else:
    print("given list is not empty")

given list is not empty

# 15. Create a nested tuple.

In [3]:
# Concatenating tuples to nested tuples
# using + operator + ", " operator during initialization
 
# initialize tuples
t155 = (1,2),
t156 = (3,4),
 
# printing original tuples
print("The original tuple 1 : " + str(t155))
print("The original tuple 2 : " + str(t156))
res=t155+t156
print(res)

The original tuple 1 : ((1, 2),)
The original tuple 2 : ((3, 4),)
((1, 2), (3, 4))

# 16. Access the first element of a nested tuple.

In [9]:
# initialize tuples
t155 = (1,2),
t156 = (3,4),
 
# printing original tuples
print("The original tuple 1 : " + str(t155))
print("The original tuple 2 : " + str(t156))
res=t155+t156
print(res)
#first element posion is 00
print("first element of nested list ")
print(res[0][0])

The original tuple 1 : ((1, 2),)
The original tuple 2 : ((3, 4),)
((1, 2), (3, 4))
first element of nested list
1

# 17. Create a tuple with a single element.

In [12]:
#creating tuple
t17=(5)
print('single element tuple is ',t17)

single element tuple is  5

# 18. Compare two tuples.

In [13]:
# initialize tuples
t155 = (1,2),
t156 = (3,4),
 
# printing original tuples
print("The original tuple 1 : " + str(t155))
print("The original tuple 2 : " + str(t156))

# Comparing tuples
# using generator expression + all() + zip()
res = all(x < y for x, y in zip(t155, t156))
 
# printing result
print("Are all elements in second tuple greater than first ? : " + str(res))

The original tuple 1 : ((1, 2),)
The original tuple 2 : ((3, 4),)
Are all elements in second tuple greater than first ? : True

# 19. Delete a tuple.

In [15]:
# the del operator using to delete entire tuple
t19=("a","b","c")
print(t19)
del t19
print('tuple has deleted')

('a', 'b', 'c')
tuple has deleted

# 20. Slice a tuple.

In [16]:
t20=(10,20,30,40,50)
t20[:] #print all elements in tuple using slice method

(10, 20, 30, 40, 50)

# 21. Find the maximum value in a tuple

In [18]:
t21=(10,20,30,40,50)
print('find max value in tuple')
print(max(t21))

find max value in tuple
50

# 22. Find the minimum value in a tuple

In [20]:
t22=(10,20,30,40,50)
print('find min value in tuple')
print(min(t22))

find min value in tuple
10

# 23. Convert a string to a tuple of characters.

In [26]:
s23='we are good students'
ts=[*s23]
print(tuple(ts))

('w', 'e', ' ', 'a', 'r', 'e', ' ', 'g', 'o', 'o', 'd', ' ', 's', 't', 'u', 'd', 'e', 'n', 't', 's')

# 24. Convert a tuple of characters to a string.

In [30]:
t24=('a','i','s','h')
s24=''
for i in t24:
    s24=s24+i
print(s24)

aish

# 25. Create a tuple from multiple data types.

In [31]:
#with Mixed Datatype
t25 = (5, 'Welcome', 7.5, 'pwskills')
print("\nTuple with Mixed Datatypes: ")
print(t25)

Tuple with Mixed Datatypes:
(5, 'Welcome', 7.5, 'pwskills')

# 26. Check if two tuples are identical.

In [34]:
#creating two tuples
t266=(10,20,30)
t267=(10,21,30)
print("created tuples are ")
print(t266)
print(t267)
print("compare two tuple")
if t266==t267:
    print("two tuples are identical")
else:
    print("two tuples are not identical")

created tuples are
(10, 20, 30)
(10, 21, 30)
compare two tuple
two tuples are not identical

# 27. Sort the elements of a tuple

In [41]:
#create tuple
t27=(10,2,5,100,6)
print(t27)
#sort tuple elements using sorted() method in python  
res=sorted(t27)
print("sorted tuple is")
print(res)

(10, 2, 5, 100, 6)
sorted tuple is
[2, 5, 6, 10, 100]

# 28. Convert a tuple of integers to a tuple of strings.

In [53]:
t28=(10,20,30,40)
st=""
for i in t28:
    st=st+str(i)


tuple(st)

('1', '0', '2', '0', '3', '0', '4', '0')

# 29. Convert a tuple of strings to a tuple of integers.

In [55]:
tuple1 = ('10', '20', '30')
x=[int(i) for i in tuple1]
print(tuple(x))

(10, 20, 30)

# 30. Merge two tuples.

In [2]:
#creating tuples
tm1=(1,2,3)
tm2=('a','b','c')
print("tuples are ")
print(tm1)
print(tm2)
#merge two tuples
res=tm1+tm2
print("after merging ")
print(res)

tuples are
(1, 2, 3)
('a', 'b', 'c')
after merging
(1, 2, 3, 'a', 'b', 'c')

# 31. Flatten a nested tuple.

In [3]:
import itertools
 
# initializing tuple
test_tuple = ((4, 5), ((4, 7), (8, 9), (10, 11)), (((9, 10), (3, 4))))
 
# printing original tuple
print("The original tuple : " + str(test_tuple))
 
# Flatten Nested Tuples using itertools.chain.from_iterable()
res = tuple(itertools.chain.from_iterable(test_tuple))
 
# printing result
print("The flattened tuple : " + str(res))

The original tuple : ((4, 5), ((4, 7), (8, 9), (10, 11)), ((9, 10), (3, 4)))
The flattened tuple : (4, 5, (4, 7), (8, 9), (10, 11), (9, 10), (3, 4))

# 32. Create a tuple of the first 5 prime numbers

In [20]:
#create a function print prime numbers list and then convert into tuple
def prime_numbers(n):
    primes = []
    for i in range(2, n + 1):
        for j in range(2, int(i ** 0.5) + 1):
            if i%j == 0:
                break
        else:
            primes.append(i)
    return primes

prime_list = prime_numbers(12)
#convert list to tuple 
r=tuple(prime_list)
print(r)

(2, 3, 5, 7, 11)

# 33. Check if a tuple is a palindrome.

In [22]:
t33=(1,2,3,2,1)
if t33==t33[::-1]:
    print("tuple is palindrome")
else:
    print("tuple is not a palindrome")

tuple is palindrome

# 34. Create a tuple of squares of numbers from 1 to 5.

In [24]:
t34=()
for i in range(1,6):
    t34=t34+(i**2,)
print("the square of integers from 1 to 5",t34)

the square of integers from 1 to 5 (1, 4, 9, 16, 25)

# 35. Filter out all even numbers from a tuple.

In [25]:
# Filter Tuples with All Even Elements
# Using loop
 
# initializing list
test_list = [(6, 4, 2, 8), (5, 6, 7, 6), (8, 0, 2), (7, )]
 
# printing original list
print("The original list is : " + str(test_list))
 
res_list = []
for sub in test_list:
    res = True
     
    # check if all are even
    for ele in sub:
        if ele % 2 != 0:
            res = False
            break
    if res:
        res_list.append(sub)
 
# printing results
print("Filtered Tuples : " + str(res_list))

The original list is : [(6, 4, 2, 8), (5, 6, 7, 6), (8, 0, 2), (7,)]
Filtered Tuples : [(6, 4, 2, 8), (8, 0, 2)]

# 36. Multiply all elements in a tuple by 2.

In [26]:
tupple=(10,20,30,40,50)
t36=()
for i in tupple:
    t36=t36+(i*2,)
print("the square of integers from 1 to 5",t36)

the square of integers from 1 to 5 (20, 40, 60, 80, 100)

# 37. Create a tuple of random numbers.

In [28]:
import numpy as np
import random 
X=np.random.randint(10,20,size=10)
print(X)
Tuple_1=tuple(X)
print(Tuple_1)

[15 18 18 16 12 19 18 15 12 14]
(15, 18, 18, 16, 12, 19, 18, 15, 12, 14)

# 38. Check if a tuple is sorted

In [30]:
# create a tuple
t = (1, 2, 3, 4, 5)
# check if tuple is sorted
if t == tuple(sorted(t)):
    print("tuple is sorted")
else:
    print("tuple is not sorted")

tuple is sorted

# 39. Rotate a tuple to the left by `n` positions.

In [32]:
test_list = (1, 4, 6, 7, 2)
 
# printing original list
print ("Original list : " + str(test_list))
 
# using slicing to left rotate by 3
test_list = test_list[3:] + test_list[:3]
 
# Printing list after left rotate
print ("List after left rotate by 3 : " + str(test_list))

Original list : (1, 4, 6, 7, 2)
List after left rotate by 3 : (7, 2, 1, 4, 6)

# 40. Rotate a tuple to the right by `n` positions.

In [33]:
test_list = (1, 4, 6, 7, 2)
 
# printing original list
print ("Original list : " + str(test_list))
 

# using slicing to right rotate by 3
# back to Original
test_list = test_list[-3:] + test_list[:-3]
 
# Printing after right rotate
print ("List after right rotate by 3(back to original) : "
                                        + str(test_list))

Original list : (1, 4, 6, 7, 2)
List after right rotate by 3(back to original) : (6, 7, 2, 1, 4)

# 41. Create a tuple of the first 5 Fibonacci numbers.

In [36]:
c=[]
n = 5
num1 = 0
num2 = 1
next_number = num2 
count = 1
 
while count <= n:
    c.append(next_number)
    count += 1
    num1, num2 = num2, next_number
    next_number = num1 + num2
print()
print(tuple(c))

(1, 2, 3, 5, 8)

# 42. Create a tuple from user input.

In [38]:
tl=[]
for i in range(1,5):
    x=int(input("enter value"))
    tl.append(x)
t42=tuple(tl)
print(t42)

enter value10
enter value20
enter value30
enter value40
(10, 20, 30, 40)

# 43. Swap two elements in a tuple.

In [39]:
# Python3 code to demonstrate working of
# Swap tuple elements in list of tuples
 
# initializing list
test_list = [(3, 4), (6, 5), (7, 8)]
 
# printing original list
print("The original list is : " + str(test_list))
 
# Swap tuple elements in list of tuples
# Using list comprehension
res=[]
for i in test_list:
    x=list(i)
    x.reverse()
    res.append(tuple(x))
         
# printing result
print("The swapped tuple list is : " + str(res))

The original list is : [(3, 4), (6, 5), (7, 8)]
The swapped tuple list is : [(4, 3), (5, 6), (8, 7)]

# 44. Reverse the elements of a tuple.

In [41]:
t44=(10,20,30)
print(t44)
print("reverse of the tuple")
print(t44[::-1])

(10, 20, 30)
reverse of the tuple
(30, 20, 10)

# 45. Create a tuple of the first `n` powers of 2.

In [43]:
def MyFun(x):
    return 2 ** x

print("Enter Number of Term: ", end="")
tot = int(input())

print()
for i in range(tot):
    print("2 raised to the power ", i, " is ", MyFun(i))

Enter Number of Term: 4

2 raised to the power  0  is  1
2 raised to the power  1  is  2
2 raised to the power  2  is  4
2 raised to the power  3  is  8

In [ ]:
def MyFun(x):
    return 2 ** x

print("Enter Number of Term: ", end="")
tot = int(input())

print()
for i in range(tot):
    print("2 raised to the power ", i, " is ", MyFun(i))

# 46. Find the longest string in a tuple of strings.

In [47]:
# initialize list
test_list = ('gfg', 'is', 'best', 'for', 'pwskills')
 
# printing original list
print("The original list : " + str(test_list))
 
# Longest String in list
# using max() + key
res = max(test_list, key = len)
 
# printing result
print("Maximum length string is : " + res)

The original list : ('gfg', 'is', 'best', 'for', 'pwskills')
Maximum length string is : pwskills

# 47. Find the shortest string in a tuple of strings.

In [48]:
# initialize list
test_list = ('gfg', 'is', 'best', 'for', 'pwskills')
 
# printing original list
print("The original list : " + str(test_list))
 
# Longest String in list
# using max() + key
res = min(test_list, key = len)
 
# printing result
print("Maximum length string is : " + res)

The original list : ('gfg', 'is', 'best', 'for', 'pwskills')
Maximum length string is : is

# 48. Create a tuple of the first `n` triangular numbers.

In [49]:
# triangular number using simple approach.
 
# Returns True if 'num' is triangular, else False
def isTriangular(num):
 
    # Base case
    if (num < 0):
        return False
 
    # A Triangular number must be
    # sum of first n natural numbers
    sum, n = 0, 1
 
    while(sum <= num):
     
        sum = sum + n
        if (sum == num):
            return True
        n += 1
 
    return False
 
# Driver code
n = 10
if (isTriangular(n)):
    print("The number is a triangular number")
else:
    print("The number is NOT a triangular number")

The number is a triangular number

# 49. Check if a tuple contains another tuple as a subsequence

In [50]:
# to check if list is subset of other
# using all()
 
# initializing list
test_list = (9, 4, 5, 8, 10)
sub_list = (10, 5, 4)
 
# printing original lists
print("Original list : " + str(test_list))
print("Original sub list : " + str(sub_list))
 
# using all() to
# check subset of list
flag = 0
if(all(x in test_list for x in sub_list)):
    flag = 1
 
# printing result
if (flag):
    print("Yes, list is subset of other.")
else:
    print("No, list is not subset of other.")

Original list : (9, 4, 5, 8, 10)
Original sub list : (10, 5, 4)
Yes, list is subset of other.

# 50. Create a tuple of alternating 1s and 0s of length `n`.

In [53]:
# to perform cyclic initialization
# using list comprehension
 
# count of 1
count_1 = 4
 
# count of 0
count_0 = 3
 
# total length of list
size = 14
 
# initializing list cyclically
# using list comprehension
test_list = [1 if i % (count_1 + count_0) < count_1
             else 0 for i in range(size)]

 
# printing list after change
print("The list after initializing : ", tuple(test_list))

The list after initializing :  (1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0)

# Set Based Practice Problem :

# 1. Create a set with integers from 1 to 5.

In [1]:
s={1,2,3,4,5}
print(s)

{1, 2, 3, 4, 5}

# 2. Add an element to a set.

In [4]:
#to add and element using add() method 
s2={10,20,30}
print(s2)
print("adding one element to set")
s2.add(40)
print(s2)

{10, 20, 30}
adding one element to set
{40, 10, 20, 30}

# 3. Remove an element from a set.

In [7]:
s3={100,'one',1000}
print(s3)
#remove one element using remove() method
print('after remove element set elements')
s3.remove('one')
print(s3)

{1000, 'one', 100}
after remove element set elements
{1000, 100}

# 4. Check if an element exists in a set.

In [8]:
s4={100,200,300,1000}
print("checking 1000 element")
if 1000 in s4:
    print("exist")
else:
    print("does not exist")

checking 1000 element
exist

# 5. Find the length of a set without using the `len()` function.

In [11]:
#using for loop to count set 
s5={'a',100,500,10.2,"hai"}
count=0
for i in s5:
    count=count+1
print("length of given set is ",count)

length of given set is  5

# 6. Clear all elements from a set.

In [14]:
#to clear all elements form a set using clear method 
s6={'a',100,500,10.2,"hai"}
print(s6)
print('after clearing elements set is exist')
s6.clear()
print(s6)

{'hai', 100, 10.2, 'a', 500}
after clearing elements set is exist
set()

# 7. Create a set of even numbers from 1 to 10.

In [22]:
s7=set() # creae set 
for i in range(0,11):
    if i%2==0:
        s7.add(i) #add() method in set add an element
        
print(s7)

{0, 2, 4, 6, 8, 10}

# 8. Create a set of odd numbers from 1 to 10.

In [23]:
s8=set() # creae set 
for i in range(0,11):
    if i%2 !=0:
        s8.add(i) #add() method in set add an element
        
print(s8)

{1, 3, 5, 7, 9}

# 9. Find the union of two sets.

In [27]:
a={10,20,30}
b={'a','b','c',20}
s3=a.union(b)
print(s3)

{'c', 'a', 20, 'b', 10, 30}

# 10. Find the intersection of two sets.

In [29]:
a={10,20,30}
b={'a','b','c',20}
s10=a.intersection(b)
print(s10)

{20}

# 11. Find the difference between two sets.

In [30]:
a={10,20,30}
b={'a','b','c',20}
s11=a.difference(b)
print(s11)

{10, 30}

# 12. Check if a set is a subset of another set.

In [36]:
s12={'a','b','c',1,2,3}
s22={1,2,3}
r=s22.issubset(s12)
r

True

# 13. Check if a set is a superset of another set.

In [38]:
s12={'a','b','c',1,2,3}
s22={1,2,3}
r=s12.issuperset(s22)
r

True

# 14. Create a set from a list.

In [43]:
ls=[1,2,3,4,5]
print("list is")
print(ls)
ls1=set(ls)
print("list convert into set")
print(ls1)

list is
[1, 2, 3, 4, 5]
list convert into set
{1, 2, 3, 4, 5}

# 15. Convert a set to a list.

In [46]:
s15={10,20,30,40}
print(s15)
print('convert into list')
sl=list(s15)
print(sl)

{40, 10, 20, 30}
convert into list
[40, 10, 20, 30]

# 16. Remove a random element from a set.

In [47]:
s16={100,200,300,400,500}
print(s16)
#using pop() method to remove element from set randomly
s16.pop()
print(s16)

{100, 200, 300, 400, 500}
{200, 300, 400, 500}

# 17. Pop an element from a set.

In [49]:
s17={100,200,300,400,500}
print(s17)
#using pop() method to remove element from set randomly
s17.pop()
print(s17)

{100, 200, 300, 400, 500}
{200, 300, 400, 500}

# 18. Check if two sets have no elements in common.

In [52]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'cherry', 'microsoft', 'banana', 'google'}

# 19. Find the symmetric difference between two sets.

In [54]:
x = {"apple", "bat", "cat"}
y = {"good", "fan", "apple"}

z = x.symmetric_difference(y)

print(z)

{'bat', 'fan', 'good', 'cat'}

# 20. Update a set with elements from another set.

In [56]:
a1 = {"a", "b" , "c"}
a2 = {100, 2000, 30000}

a1.update(a2)
print(a1)

{'c', 'a', 2000, 30000, 100, 'b'}

# 21. Create a set of the first 5 prime numbers.

In [4]:
s21=set()
n=1
i=2
while ( n <= 5): # change this value for more numbers
    b=0
    for j in range(2,int(i/2)+1):
        if(i%j==0):
            b=1
            break  
    if(b==0):
        s21.add(i)
        #print(i,end=', ')
        n=n+1
    i=i+1
print(s21)

{2, 3, 5, 7, 11}

# 22. Check if two sets are identical.

In [1]:
s22={2,5,4}
s23={2,4,5}
if s22==s23:
    print("two sets aare identical")
else:
    print("two sets are not ideical")

two sets aare identical

# 23. Create a frozen set

In [6]:
#This function accepts iterable object as input parameter.
numbers=[100,200,300,400,500]
if 200 in numbers:
    print(True)
else:
    print(False)

True

# 24. Check if a set is disjoint with another set.

In [8]:
# Python set isdisjoint() function check whether the two sets are disjoint or not
s24={1,2,3}
s244={5,6,7}
s24.isdisjoint(s244)

True

# 25. Create a set of squares of numbers from 1 to 5.

In [9]:
s25=set()
for i in range(1,6):
    x=i*i
    s25.add(x)
print(s25)

{1, 4, 9, 16, 25}

# 26. Filter out all even numbers from a set.

In [ ]:
s26=set()
snum={1,2,3,4,5,6,7,8,9,10}
for i in snum:
    if i%2==0:
        
x=i*i
    s25.add(x)
print(s25)

# 27. Multiply all elements in a set by 2.

In [3]:
s27=set()
snum={1,2,3,4,5,6,7,8,9,10}
print(snum)
for i in snum:
    x=i*2
    s27.add(x)

print("above set multiuplay with 2")
print(s27)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
above set multiuplay with 2
{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

# 28. Create a set of random numbers.

In [9]:
import random
s28 = set()
for i in range(0,5):
    n = random.randint(1,30)
    s28.add(n)
print(s28)

{5, 8, 12, 13, 27}

# 29. Check if a set is empty.

In [15]:
# Initializing an empty set
s29 = {}
# Using not operator
if len(s29)==0:
    print ("set is empty")
else:
    print ("set is not empty")

set is empty

# 30. Create a nested set (hint: use frozenset).

In [16]:
a = {frozenset([1, 2, 3]), frozenset([1, 2, 4])}
a

{frozenset({1, 2, 3}), frozenset({1, 2, 4})}

# 31. Remove an element from a set using the discard method.

In [4]:
#using the discard method in python to remove a specified element
s31={10,20,30,40,50}
s31.discard(30)
print(s31)

{40, 10, 50, 20}

# 32. Compare two sets.

In [1]:
s32={1,2,3}
s322={1,2,3}
if s32==s322:
    print("two sets are qual")
else:
    print("two sets are inequal")

two sets are qual

# 33. Create a set from a string.

In [2]:
s33="welcome"
s333=set(s33)
print(s333)

{'c', 'e', 'o', 'm', 'w', 'l'}

# 34. Convert a set of strings to a set of integers.

In [10]:

test_set = {'10', '20', '30', '40', '50'}
 
# using map() to
# perform conversion
test_set = set(map(int, test_set))
 
# Printing modified list
print("Modified list is : " + str(test_set))

Modified list is : {40, 10, 50, 20, 30}

# 35. Convert a set of integers to a set of strings.

In [13]:

# create a set
s = {'1', '2', '3', '4'}
s1={}
print("Initially")
print("The datatype of s : " + str(type(s)))
print("Contents of s : ", s)
  
# convert Set to String
S = ', '.join(s)
print("The datatype of s : " + str(type(S)))
print("Contents of s : ", S)

Initially
The datatype of s : <class 'set'>
Contents of s :  {'1', '3', '4', '2'}
The datatype of s : <class 'str'>
Contents of s :  1, 3, 4, 2

# 36. Create a set from a tuple.

In [3]:
# create a tuple
t=(1,2,3,4,5)
#print tuple
print(t)
print("convert into set ")
s=set(t)
print(s)

(1, 2, 3, 4, 5)
convert into set
{1, 2, 3, 4, 5}

# 37. Convert a set to a tuple.

In [4]:
s={'a','b','c'}
print("set is ")
print(s)
print("convert into tuple")
print(tuple(s))

set is
{'c', 'a', 'b'}
convert into tuple
('c', 'a', 'b')

# 38. Find the maximum value in a set.

In [6]:
s38={10,20,30,40,80,120}
print(s38)
print("maximum value i the set is ")
print(max(s38))

{40, 10, 80, 20, 120, 30}
maximum value i the set is
120

# 39. Find the minimum value in a set.

In [8]:
s39={10,20,30,40,80,120}
print(s39)
print("minimum value i the set is ")
print(min(s39))

{40, 10, 80, 20, 120, 30}
minimum value i the set is
10

# 40. Create a set from user input.

In [9]:
s40=set()
for i in range(5):
    x=input("enter some value")
    s40.add(x)
print(s40)

enter some value100
enter some value200
enter some value300
enter some value440
enter some value550
{'300', '550', '100', '200', '440'}

# 41. Check if the intersection of two sets is empty.

In [12]:
# will raise error 
x = {}
y = {}

z = x.intersection(y)

print(z)

AttributeError: 'dict' object has no attribute 'intersection'

# 42. Create a set of the first 5 Fibonacci numbers.

In [15]:
c=set()
n = 5
num1 = 0
num2 = 1
next_number = num2 
count = 1
 
while count <= n:
    c.add(next_number)
    count += 1
    num1, num2 = num2, next_number
    next_number = num1 + num2
print()
print(set(c))

{1, 2, 3, 5, 8}

# 43. Remove duplicates from a list using sets.

In [16]:
l=[10,20,30,10,60]
print("list of values")
print(l)
print("removing duplicates from the list convert into set")
s=set(l)
print(s)

list of values
[10, 20, 30, 10, 60]
removing duplicates from the list convert into set
{10, 20, 30, 60}

# 44. Check if two sets have the same elements, regardless of their count.

In [17]:
s={10,20,30,78}
s1={30,20,10,78}
if s==s1:
    print("two sets are equal")
else:
    print("two sets are inequal ")

two sets are equal

# 45. Create a set of the first `n` powers of 2.

In [20]:
f=set()
def MyFun(x):
    y=2**x
    f.add(y)
    return y

print("Enter Number of Term: ", end="")
tot = int(input())

print()
for i in range(tot):
    print("2 raised to the power ", i, " is ", MyFun(i))
    f.add(tot)
print(f)

Enter Number of Term: 5

2 raised to the power  0  is  1
2 raised to the power  1  is  2
2 raised to the power  2  is  4
2 raised to the power  3  is  8
2 raised to the power  4  is  16
{1, 2, 4, 5, 8, 16}

# 46. Find the common elements between a set and a list.

In [25]:
l=[10,20,30,40]
s={20,35,45,50}
print("list and sets are ")
print(l)
print(s)
s46=set(l)
z=s.intersection(s46)
print("common element in list  and set is ")
print(z)

list and sets are
[10, 20, 30, 40]
{50, 35, 20, 45}
common element in list  and set is
{20}

# 47. Create a set of the first `n` triangular numbers.

In [26]:
# triangular number using simple approach.
 
# Returns True if 'num' is triangular, else False
def isTriangular(num):
 
    # Base case
    if (num < 0):
        return False
 
    # A Triangular number must be
    # sum of first n natural numbers
    sum, n = 0, 1
 
    while(sum <= num):
     
        sum = sum + n
        if (sum == num):
            return True
        n += 1
 
    return False
 
# Driver code
n = 10
if (isTriangular(n)):
    print("The number is a triangular number")
else:
    print("The number is NOT a triangular number")

The number is a triangular number

# 48. Check if a set contains another set as a subset.

In [28]:

s1 = {10, 20, 30, 40, 50} 
s2 = {40, 50} 
# Output True, since, s2 elements in s1 
if(s2.issubset(s1)):
    print("set contain another set")
else:
    print("set does not contain another set")

set contain another set

# 49. Create a set of alternating 1s and 0s of length `n`.

In [29]:
# to perform cyclic initialization
# using list comprehension
 
# count of 1
count_1 = 4
 
# count of 0
count_0 = 3
 
# total length of list
size = 14
 
# initializing list cyclically
# using list comprehension
test_list = [1 if i % (count_1 + count_0) < count_1
             else 0 for i in range(size)]

 
# printing list after change
print("The list after initializing : ", set(test_list))

The list after initializing :  {0, 1}

# 50. Merge multiple sets into one.

In [31]:
s1 = {"a", "b" , "c"}
s2 = {1, 2, 3}
print("using union method to merge sets into single one")
s3 = s1.union(s2)
print(s3)

using union method to merge sets into single one
{1, 2, 3, 'a', 'b', 'c'}